@import url('https://fonts.googleapis.com/css2?family=Arsenal:ital@1&family=Domine&family=Lora:ital@1&family=Oswald:wght@300&family=Patua+One&family=Raleway:wght@200&family=Roboto:wght@500&family=Rubik:ital,wght@0,500;1,400&display=swap');

.ico {
    width: 25px;
    border: none !important;
    background-color: inherit !important;
}

.form-control {
    width: 100% !important;
    margin: auto !important;
}

.form-select {
    width: 95% !important;
    margin: auto !important;
}

.form-agenda input select {
    text-align: center;
}

.form-agenda {
    position: relative;

}

.boton-modal-agenda {
    text-align: center;
}

.boton-completadi {
    background-color: #64549d !important;
}


.citrus {
    color: #372e4d !important;
}

.MuiPickersToolbar-toolbar {
    background-color: #64549d !important;
}

.MuiPickersDay-current {
    background-color: #64549d !important;
    font-weight: 600;
}

.fechass {
    display: flex;
    flex-direction: row;
    margin: 15px auto;
    width: 45%;
}

.title-Agenda {
    text-align: center;
    font-family: 'Patua One', cursive !important; 
    font-size: 25px;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.inputs {
    width: 45%;
    margin: auto;
}

.buton-agenda {
    width: 55% !important;
    margin: 15px auto !important;
    text-align: center;
}

.input-arreglo{
    width: 16em !important;
}

.botonagenda {
    width: 35% !important;
    margin: 15px auto !important;
    font-family: 'Patua One', cursive !important;
}

.juju {
    width: 85%;
    margin: auto;
    margin-top: 4em;
}

.btn-no {
    background-color: #5c436c !important;
    color: antiquewhite !important;
}

.btn-si {
    background-color: #9477a7 !important;
    color: antiquewhite !important;
}


.meLleva {
    background-color: #5c436c !important;
}

.imgAgenda {
    width: 80px !important;
    margin-left: 20% !important;
}

.titleagenda {
    font-size: 20px !important;
}

.cardsagenda {
    display: flex !important;
    flex-direction: row !important;
}

.botonAgenda {
    width: 140px !important;
    margin: 35px 0px !important;
   background-color: #4D3582 !important;
    color: var(--color-white) !important;
    border: 2px solid #64549d !important;
    text-align: center !important;
}

.imgagendas {
    width: 13% !important;
    padding: 15px !important;
}

.contsAgenda {
    width: 60% !important;
    position: relative !important;
    top: 10px;

}

.busagnda {
    width: 40% !important;
    display: flex !important;
    flex-direction: row;
}

.busagnda1 {
    width: 18% !important;
}



.botoneditars {
    margin: 34px 22px !important;
    font-family: 'Patua One', cursive !important; 
}

.opcionesaged {
    width: 28.5% !important;
    margin-left: 70%;
    border-radius: 15px;
    background-color: rgb(218, 197, 227);
   
   
}

.botonAgen {
    margin: 0 15px 0 0;
    /* background-color: #a38fcb!important; */
    background-color: inherit !important;
    border: none !important;
    color: #372e4d !important;
   font-size: 14.8px !important;
    border-radius: 15px !important;
    font-family: 'Patua One', cursive !important; 
    outline:none !important;
}


.botonAgen:focus{
   
    background-color: #4D3582 !important;
    color: white !important;
    outline:none !important;
    box-shadow: none !important;
 }
.botonAgend {
    border-radius: 15px !important;
    background-color: inherit !important;
    border: none !important;
    color: #372e4d !important;
    font-family: 'Patua One', cursive !important; 
    /* background-color:#4D3582!important; */
    font-size: 14.8px !important;
    
    outline:none !important
}



.botonAgend:focus{

    
    background-color: #4D3582 !important;
    color: white !important;
    outline:none !important;
    box-shadow: none !important;
}

.botonAgendss {
    /* background: var(--fond-button) !important;
    border: 2px solid var(--fond-button) !important;
    width: 250px;
    height: 35px;
    font-size: 25px;
    line-height: 19px;
    margin-left: 25%;
    background: #64549d !important;
    color: var(--color-white) !important;
    border: 2px solid #64549d !important; */
    border-style: none !important;
    border-color: inherit;
    border-radius: 100%;
}

.botonagenda {
    text-align: center;

}


.titulo-tarea {
    color: #372e4d !important;
    font-family: 'Patua One', cursive !important; 
}

.sub {
    color: #626262 !important;
    font-family: 'Patua One', cursive !important; 
}


.tareaP {
    padding: 0.5em;
    border-radius: 20px !important;
    font-family: 'Domine', serif;
}
.content-Agenda {
    width: 40% !important;
    margin: 10px auto;
    border-radius: 30px;
    font-family: 'Domine', serif;
    padding: 1em;
}

.content-Agenda2 {
    background-color: white;
    width: 40% !important;
    margin: 10px auto;
    border-radius: 30px;
    font-family: 'Domine', serif;
    padding: 1em;
}
.content-Agenda{
    width: 40% !important;
    margin: 10px auto;
    border-radius: 30px;
    font-family: 'Domine', serif;
}
.content-Agenda2{
    background-color: white;
    width: 40% !important;
    margin: 10px auto;
    border-radius: 30px;
    font-family: 'Domine', serif;
    padding: 1em;
}

.boton00 {
    margin-right: 2em;
    width: 5em !important;
    background-color: #A792D6 !important;
}

.boton01 {
    width: 5em !important;
    background-color: #4D3582 !important;
}


@media screen and (max-width: 700px) {
    .botonagenda {
        width: 75%;
        margin: auto !important;
    }

    .inputs{
        width: 90% !important;
        margin: 0 !important;
    }
    .form-select {
        width: 92% !important;
        margin: auto !important;
    }

    .botonAgendss {
        margin: 15px 0 0 0 !important;
    }
    .botonAgen {
        margin: 0;
        background-color: inherit !important;
        border: none !important;
        color: #372e4d !important;
    }
    .buton-agenda {
        width: 95% !important;
        margin: 15px auto !important;
        text-align: center;
    }
    .fechass {
        display: flex;
        flex-direction: row;
        margin: 15px auto;
        width: 80%;
    }

    .juju {
        margin: 0 auto !important;
        /* width: 100% !important; */
    }
    .content-Agenda, .content-Agenda2 {
        border-radius: 30px;
        font-family: Domine,serif;
        margin: 10px auto;
        padding: 1em;
        width: 90% !important;
    }    
    .cardsdf {
        position: inherit !important;
        /* width: 100% !important; */
    }

    .contsAgenda {
        width: 60% !important;
        position: inherit !important;
        top: 10px;
    }

    .cardsagenda {
        display: block !important;
    }

    .opcionesaged {
        margin: 0 0 0 0px !important;
        width: 100% !important;
    }

    .contsAgenda {
        width: 100% !important;
        position: inherit !important;
        top: 10px;
    }

    .imgagendas {
        width: 100% !important;
        padding: 15px 0 0 0 !important;
    }

    .cardsagenda {
        padding: 10px !important;
    }

    .busagnda {
        width: 100% !important;
    }

    .imgAgenda {
        width: 80px !important;
        margin-left: 35% !important;
    }

    .botonAgenda {
        width: 50% !important;
        margin: 0px !important;
        background-color: #4D3582 !important;
        color: var(--color-white) !important;
        border: 2px solid #64549d !important;
        text-align: center !important;
    }

    .botoneditars {
        margin: 0px !important;
        width: 50% !important;
    }
    .form-agenda{
        width: 100% !important;
    }

    .content-Agenda2 {
        
        width: 100% !important;
       
    }
}

.content-Agenda {
    width: 40% !important;
    margin: 10px auto;
    border-radius: 30px;
    font-family: 'Domine', serif;
    padding: 1em;
 
}

/* .content-Agenda2 {
    background-color: white;
    width: 40% !important;
    margin: 10px auto;
    border-radius: 30px;
    font-family: 'Domine', serif;
    padding: 1em;
} */
.content-Agenda{
    width: 40% !important;
    margin: 10px auto;
    border-radius: 30px;
    font-family: 'Domine', serif;
}
.content-Agenda2{
    background-color: white;
    width: 40% !important;
    margin: 10px auto;
    border-radius: 30px;
    font-family: 'Domine', serif;
    padding: 1em;
}

.form-label {
   font-size: 18px !important;
}

.boton00 {
    margin-right: 2em;
    width: 5em !important;
    background-color: #A792D6 !important;
    border: none !important;
}

.boton01 {
    width: 5em !important;
    background-color: #4D3582 !important;
    border: none !important;
}

.agenda-vacia{
    margin-top: 4em;
    text-align: center;
    color: #626262 !important;
    font-family: 'Patua One', cursive !important; 
    margin-bottom: 3em;
}