.subDivEmociones{
    text-align: center;
    padding: 1em;

    .emociones{
        display:inline-block;
        width: 50%;
        margin: auto;
       
        .caritas{
            border-style: none;
            background-color: inherit;
           border-radius: 50em;
           padding: 0;
           margin-left: 1em;
            &:focus{
                background-color:#d2c3f3;
            }

            
        }
    }
   
    h2{
        font-family: 'Patua One', cursive !important;
        color: #372e4d  !important;
        font-size: 28px;
    }
  
}

.boton-guardar{
    text-align: center;

    .guardar{
        margin-top: 2em;
        width: 10em;
        border-style: none;
      background-color:  #ad9ce9;
      color: white;
      height: 2em;
      border-radius: 10px;
    }
}

.input-hidden {
    position: absolute;
    left: -9999px;
  
}
input[type=radio]:checked + label>img {
    border: 2px solid #fff;
    border-radius: 80px;
    box-shadow: 0 0 3px 3px #ad9ce9;
}

input[type=radio] + label>img {
  margin-right: 1em;
}

.cat{
    border-radius: 100%;
}

.modal{
    text-align: center;
}

.aceptar{
    width: 5em;
     background-color: #ad9ce9 !important;
     outline: none !important;
}

