.imgPremio{
    width: 100% !important;
    margin: auto !important;
}
.premio{
    width: 45%;
    position: relative;
    border: 2px solid var(--fond-button);
    border-radius: 5%;
    padding: 5px;
}
.title-premio{
    font-size: 30px;
    width: 75%;
    margin: auto !important;
    text-align: center;
    position: relative;
    top: -390px;
    height: 0px;
}
.title-premio1{
    font-size: 18px;
    width: 90%;
    margin: auto !important;
    text-align: center;
    position: relative;
    top: -250px;
    height: 0px;
}
.title-premio2{
    font-size: 27px;
    width: 90%;
    margin: auto !important;
    text-align: center;
    position: relative;
    top: -150px;
    height: 0px;
}
.title-premio3{
    font-size: 18px;
    width: 90%;
    margin: auto !important;
    text-align: center;
    position: relative;
    top: -110px;
    height: 0px;
}