@import url('https://fonts.googleapis.com/css2?family=Arsenal:ital@1&family=Domine&family=Lora:ital@1&family=Oswald:wght@300&family=Patua+One&family=Raleway:wght@200&family=Roboto:wght@500&family=Rubik:ital,wght@0,500;1,400&display=swap');

.col-md-4 img {
    width: 100%;

}

.card {

    margin: 15px auto !important;
    font-family: 'Domine', serif;
    line-height: 40px;
}

.picachu {
    font-family: 'Patua One', cursive !important;
    font-size: 30px;
}


.jajaja {
    color: #626262 !important;
    display: inline-block;
    font-size: 20px;
}

.ju {
    font-weight: bold;
    color: #331d41 !important;
}

.tituloPerfil {
    text-align: center;
}

.card-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 45px;
}

.card-text {
    font-size: 30px;

}

.pepe {
    width: 80% !important;
}

.contenedor-tarjetas {
    width: 85%;
    margin: auto;
}



.titlee {
    text-align: center;
    font-size: 60px;
}

.titlee1 {
    font-family: 'Domine', serif !important;
}

.botonperfil {
    background: var(--fond-button) !important;
    border: 2px solid var(--fond-button) !important;
    width: 6em;
    height: 35px;
    font-size: 20px;
    line-height: 19px;
    margin-left: 40%;
    margin-top: 2.5em;
}

.contenedor-tarjetas {
    display: flex;
}

.ujuuu {
    background-color: #64549d !important;
    color: white !important;

}

.ujuu {
    color: white !important;
}

.tarjetas {
    width: 15em !important;
    height: 27em;
    border-radius: 10px !important;
    padding-top: 2em;
}

.img-perfil {
    padding: 15px;
}

.asereje {
    font-size: 18px !important;
    line-height: 20px !important;
}


.logros {
    text-align: center;
    margin-top: 3em;
    margin-bottom: 3em;
    color: #331d41;
    font-family: 'Patua One', cursive !important;
}

.col {

    height: 550px;
    text-align: center !important;

}

.contTempori {
    display: flex;
    flex-direction: row;
    width: 40%;
    margin: auto;
}

.contes {
    width: 34%;
    height: 138px;
    text-align: center;
    background: white;
    margin: 15px;
    border-radius: 160px;
    font-size: 20px;
}

.contens {
    text-align: center;
}

.texts {
    position: relative;
    top: 22px;
}

.boton {
    background: var(--fond-button) !important;
    border: 2px solid var(--fond-button) !important;
    width: 250px;
    height: 40px;
    font-size: 25px;
    line-height: 19px;
    margin: 10px;
    line-height: 13px;
}


.jum {
    margin-left: 2em;
}

.opciones {
    text-align: center;
    margin: 15px;
}

.boton1 {
    margin: 15px;
    width: 230px;
    background: #9e95b8 !important;
    border: #9e95b892 !important;
}

.boton2 {
    margin: 15px;
    width: 230px;
    background: #7d5b92 !important;
    border: #7d5b92 !important;
}

a {
    color: var(--fond-default);
    text-decoration: none;
}

.contAlarm {
    display: flex;
    flex-direction: row;
}

.añadirAlarmas {
    width: 30%;
    margin: 15px auto;
}

.fechas {
    text-align: center;
}

.alarmafecha {
    margin: 15px;
}

.head {
    background-color: #372e4d !important;
    color: white !important;
}

.listarAlarmas {
    width: 55%;
    margin: 15px auto;
}

body {
    font-family: none;

}

* {
    box-sizing: content-box;
}

.table {
    width: 85%;
    margin: 15px auto;
}


.checks {
    margin: 20px !important;
    font-size: 19px !important;
}

.bton {
    margin-left: 35% !important;
}

.bton1 {
    margin: 0 0 0 15px !important;
}


.navb-titu {
    color: var(--fond-default) !important;
    background: var(--fond) !important;
    margin: 15px 0 !important;
}

.navb-titu:hover {
    color: var(--color-white) !important;
    background: var(--fond-button) !important;
}

.forsSelect {
    display: flex;
    flex-direction: row;
    width: 85% !important;
    margin: auto !important;
}


.forsSelect1 {
    width: 80% !important;
}

.selecsQuiz {
    width: 80% !important;
}

.titles {
    text-align: center;
    width: 75%;
    margin: 55px auto;
}

.imagens {
    width: 35%;
    margin: auto;
    position: relative;
    left: -80px;
}

.clsboton {
    margin: 15px;
}

.botonencuesta {
    margin-left: 40% !important;
}

.modal1 {
    text-align: center !important;
}

.botonlistes {
    background: #64549d;
    color: var(--color-white) !important;
    border: 2px solid #64549d;
    width: 210px;
    margin: auto !important;
    text-align: center !important;
}

.botonlistes:hover {
    background: #7461b7;
    color: var(--color-white);
    border: 2px solid #7461b7;
}

.iii {
    width: 90% !important;
    margin-bottom: 1em;
}

.save {
    margin-left: 1em;
    background-color: #7d5b92 !important;

}

.close {

    background-color: #331d41 !important;
    color: white;

}

.botonpers {
    margin-left: 40% !important;
    background: #64549d !important;
    color: var(--color-white) !important;
    border: 2px solid #64549d;
}


.botonpers:hover {
    background: #7461b7 !important;
    color: var(--color-white);
    border: 2px solid #7461b7;
}



.modal-info {
    justify-content: center;
    text-align: center;
    width: 65%;
    margin: auto;
}

.close1 {
    margin-left: 30% !important;
}

.modal-info th {
    background-color: #5c436c !important;
    color: antiquewhite;
    border: none;
}

.simssdf {
    display: flex;
    flex-direction: row;
    margin: auto;
}

.imgres {
    width: 45%;
    padding: 25px;
}

.compar {
    position: relative;
    left: 60%;
}

.imprimir {

    background-color: #5c436c;
    ;
    color: white !important;
    margin: 15px;
    border: 2px solid lightgrey;
    border-radius: 5px;
    padding: 0.5em;
    width: 8em;
}

.imprimir2 {

    background-color: #5c436c;
    color: white !important;
    margin: 15px;
    border: 2px solid lightgrey;
    border-radius: 5px;
    padding: 0.7em;
    width: 4em;
}

.olimpica {
    width: 5em;
    margin: auto;
    position: relative;
    top: -50px;
    left: 270px;
    border-radius: 50px;
}

.volverLetra {
    color: white !important;
}

.volver {
    border-style: none;
    width: 4em;
    height: 2em;
    margin-left: 1.3em;
    border-radius: 5px;
    margin-top: 1em;

    background-color: #5c436c;
}

@media (min-width: 576px) {
    .modal-quizz .modal-dialog {
        max-width: 85% !important;
    }


}

@media (max-width: 700px) {

    .contTempori {
        display: flex;
        flex-direction: row;
        width: 90%;
        margin: auto;
    }
    .jum{
        margin-left: 0 !important;
    }
    .card {
        margin: auto !important;
        font-family: 'Domine', serif;
        line-height: 40px;
    }

    .imgres {
        display: none;
    }
    .simssdf {
        display: flex;
        flex-direction: row;
        margin: 15px !important;
    }
    .premio {
        width: 95% !important;
        position: relative;
        border: 2px solid var(--fond-button);
        border-radius: 5%;
        padding: 5px;
    }
    .title-premio {
        font-size: 25px !important;
        width: 80% !important;
        margin: auto !important;
        text-align: center;
        position: relative;
        top: -290px !important;
        height: 0px;
    }
    .title-premio1 {
        font-size: 18px;
        width: 90%;
        margin: auto !important;
        text-align: center;
        position: relative;
        top: -195px !important;
        height: 0px;
    }
    .title-premio2 {
        font-size: 27px;
        width: 90%;
        margin: auto !important;
        text-align: center;
        position: relative;
        top: -95px !important;
        height: 0px;
    }
    .title-premio3 {
        font-size: 18px;
        width: 90%;
        margin: auto !important;
        text-align: center;
        position: relative;
        top: -60px !important;
        height: 0px;
    }
    .olimpica {
        width: 5em;
        margin: auto;
        position: relative;
        top: 0 !important;
        left: 140px !important;
        border-radius: 50px;
    }
    .compar {
        position: relative;
        left: 0 !important;
    }
    .contens {
        text-align: center;
    }

    .boton {
        background: var(--fond-button) !important;
        border: 2px solid var(--fond-button) !important;
        width: 245px;
        height: 28px;
        font-size: 25px;
        line-height: 19px;
        margin: 10px;
        line-height: 13px;
    }


    .listarAlarmas {
        width: 90%;
        margin: 15px auto;
    }

    .contes {
        width: 80%;
        height: 7em;
        text-align: center;
        font-size: 15px;
        margin: 15px;
        border-radius: 20em;
    }

    .contenedor-tarjetas {
        display: flex;
        flex-direction: column;
        position: inherit !important;
    }

    .botonperfil {
        margin: auto !important;

    }

    .pepe {
        width: 90% !important;
        position: inherit !important;

    }

    .tarjetas {
        width: 100% !important;
        height: 35em;
        position: inherit !important;
    }
}