@import url('https://fonts.googleapis.com/css2?family=Arsenal:ital@1&family=Domine&family=Lora:ital@1&family=Oswald:wght@300&family=Patua+One&family=Raleway:wght@200&family=Roboto:wght@500&family=Rubik:ital,wght@0,500;1,400&display=swap');
.react-calendar{
    width: 100%;
 color: #5c436c;
font-family: 'Patua One', cursive;
    border: none;
  

    


}


 .calendar{
  width: 30%;
     text-align: center;
    margin: auto;
    justify-content: center;
   
   
    button{
     
          &:enabled {
            &:hover,
            &:focus {
              background-color: rgb(221, 186, 221);
              color: white;
            }
           
        }
    }
  
 }
 

 .react-calendar__tile--now {
  border: 2px black solid;
  border-radius: 60px;
  background-color: thistle;
  color: white;
  }

  .react-calendar__tile--active{
    background-color: rgb(250, 215, 247);
    
  }

  .react-calendar__tile__days__day--weekend{
    color: #5c436c;
  }

  