body{
    background-color: #F4F3FF !important;
}

.nav-pills .active{
    background-color: #AD9CE9 !important;
    color: white !important;
}

.botones{
  color: gray !important;
}

.grafica{
    width:25%;
    margin: auto !important;
}